html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans;
    // background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span,
h1,
a {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $font-size-lg;
    font-weight: 400;
}

.svgContainer a {
    user-select: none;
    font-size: 1.2rem;
}

.impressum {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 1px solid black;
    background: white;
    padding: $gutter / 4;
    border-radius: 30px;
    cursor: pointer;
    z-index: 100000;


    button {
        background: none;
        outline: 0;
        border: none;
        cursor: pointer;
        z-index: 100000;
    }
}

.impressum-text {
    display: none;
    position: fixed;
    padding: $gutter;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-width: 300px;
    font-size: 56px;
    height: 99vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #2F1EF2;
    mix-blend-mode: color;

}
.impressum-text-content {
    display: none;
    position: fixed;
    padding: $gutter;
    min-width: 300px;
    font-size: 24px;
    top: 0;
    left: 0;
    width: 60%;
    color: black;
    height: 99vh;
    overflow: scroll;
    z-index: 10;


    &>div{
        position: absolute;
        overflow: scroll;
        padding-bottom: 5rem;

        &>div{
            height: 100%;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}