.project__head {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 50px;
    background: var(--background-highlight);
    box-shadow: -1px -3px 20px 4px $color-highlight;
    span {
        padding-top: $gutter / 2;
        text-align: center;
    }

    * {
        color: black;
        text-decoration: none;
    }

    .project__head-toggle {
        flex: 1;
        max-width: 90px;
        min-width: 110px;
    }

    .project__head-next {
        flex: 1;
        max-width: 90px;
        background-color: $color-highlight;

        img {
            width: 90px;
            height: 40px;
            object-fit: cover;
        }
    }

    .project__head-title {
        flex: 5;
        width: 100%;
        overflow: hidden;
        font-size: 1rem;
        overflow:hidden; 
        min-width: 0;
 
        h1{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

iframe {
    background: black;
    border: none;
    outline: none;
}

.project__content-video {
    position: relative;
    height: calc(100vh - #{100px});

    iframe {
        width: calc(100% - #{100px});
        height: calc(100% - #{50px});
        margin-top: 50px;
        margin-left: 50px;
    }

    .controls {
        position: absolute;
        bottom: 0;
        left: 50px;
        z-index: 10;
        width: calc(100vw - 50px);
        height: 35px;
        color: var(--background-highlight);

        & > * {
            display: inline;
        }

        .project__timer {
            position: absolute;
            right: 120px;
            text-align: right;
        }

        button {
            color: var(--page-color);
            font-size: $font-size-base;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

.project__progressbar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 10px;
    background: var(--background-highlight);
    transition: width 100ms;
}

.project__content-fulltext {
    display: none;
}

.project__content-img {
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    padding: 50px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.circle {
    display: none;
    position: fixed;
    background: $color-highlight;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.project__content-text {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;

    .scroll-text {
        font-family: $font-family-sans;
        font-size: 5em;
    }
}

.project__content-text > * {
    padding: $gutter;
    font-family: $font-family-serif;
    font-size: $font-size-lg;
    user-select: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
    margin-top: 2px;
    margin-left: $gutter;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    bottom: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

input:checked + .slider {
    background-color: white;

    &::before {
        background-color: black;
    }
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

.label {
    z-index: 10;
    color: white;
    position: absolute;
    margin-left: -10px;
    -webkit-transition: 0.4s;
    user-select: none;
    cursor: pointer;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

input:checked ~ * ~ .label {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    color: black;
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.project__content-fulltext {
    padding: $gutter;
    padding-top: 100px;

    div {
        flex-wrap: wrap;
        font-family: $font-family-serif;
        font-size: $font-size-lg;

        * {
            width: 20vw;
            padding: $gutter;
        }
    }

    figure{
        margin: 0 !important;
        padding: 0 !important;
        display: inline;
        cursor: help;

        img {
            margin: 0 !important;
            padding: 0 !important;
            max-width: 25px;
            max-height: 25px;
            object-fit: contain;
        }
    }
}

.biggerImg img{
    min-width: 500px;
    min-height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}